:root {
  --trans-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 27px;
  background-color: #e3e3e3;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  display: block;
}

/* ==================== Common classes ==================== */

.body-wrapper {
  width: 320px;
  min-height: 1800px;
  margin: 0 auto;

  background-color: #ffffff;
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png);
  background-position: top center, bottom center;
  background-repeat: no-repeat;

  overflow: hidden;
}

@media (min-width: 460px) {
  .body-wrapper {
    width: 460px;
  }
}

@media (min-width: 768px) {
  .body-wrapper {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .body-wrapper {
    width: 1200px;
  }
}

@media (min-width: 1600px) {
  .body-wrapper {
    width: 1600px;
  }
}

.container {
  width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  background: linear-gradient(to bottom, #b62f2c 5%, #8f2424 100%);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #a32a2a 5%, #752020 100%);
}

.button:active {
  transform: translate(0, 1px);
}

/* ==================== Header and menu ==================== */

.header#navigation {
  position: fixed;
  width: inherit;
  background-color: #001427;
  color: #ffffff;
  opacity: 0.9;
  z-index: 10;
}

.menu-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 150px;
}

.menu-link {
  padding: 12px 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.menu-link:hover {
  color: #d3d3d3;
}

.menu-button {
  padding: 10px 38px;
  border-radius: 8px;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
}

/* ==================== Hero section ==================== */

.section#hero {
  padding-top: 148px;
  padding-bottom: 108px;
  color: #ffffff;
}

.hero-wrapper {
  display: flex;
}

.hero-leftbar {
  padding-top: 60px;
}

.hero-title {
  margin-bottom: 45px;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}

.hero-description {
  margin-bottom: 110px;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
}

.hero-image {
  width: 687px;
  height: 473px;
}

.hero-button {
  padding: 12px 38px;
  border-radius: 40px;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
}

/* ==================== Products section ==================== */

.section#products {
  padding-top: 108px;
  padding-bottom: 30px;
  color: #000000;
  text-align: center;
  scroll-margin-top: 70px;
}

.products-title {
  margin-bottom: 38px;
}

.products-wrapper {
  margin-bottom: 40px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: -18px -10px;
}

.products-item {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 18px 10px;
}

.products-video {
  /* розмір авто */
  width: 100%;
  height: 655px;
  border: 1px solid #d3d3d3;
}

/* ==================== Partners section ==================== */

.section#partners {
  padding-top: 30px;
  padding-bottom: 52px;
  color: #000000;
  text-align: center;
}

.partners-wrapper {
  margin-bottom: 283px;
  display: flex;
  justify-content: space-between;
}

.partners-leftbar {
  text-align: left;
}
.partners-title {
  margin-bottom: 32px;
}

.partners-shopcar-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.partners-shopcar-logo {
  margin-right: 12px;
}

.partners-shopcar-name {
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
}

.partners-shopcar-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.partners-map {
  width: 580px;
  height: 580px;
  border: 1px solid #d3d3d3;
}

.partners-button {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  padding: 20px 117px;
  border-radius: 40px;
}

/* ==================== Footer and contacts ==================== */

.footer#contacts {
  padding-top: 52px;
  padding-bottom: 46px;
  color: #ffffff;
  text-align: center;
  scroll-margin-top: 130px;
}

.contacts-wrapper {
  display: flex;
  align-items: end;
  margin-bottom: 50px;
  text-align: left;
}

.contacts-leftbar {
  margin-right: 155px;
}

.contacts-title {
  margin-bottom: 32px;
}

.contacts-company {
  margin-bottom: 19px;
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
}

.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.contacts-phone,
.contacts-mail {
  display: block;
  margin-bottom: 28px;
  color: #ffffff;
}

.contacts-accent {
  font-weight: 800;
}

.contacts-copyright {
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
}

.contacts-social-item:not(:last-child) {
  margin-bottom: 19px;
}
