:root {
  --smooth-interface: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  --smooth-product-cards: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --smooth-modal: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  background-color: #e3e3e3;
  color: #000000;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  display: block;
}

/* ==================== General classes ==================== */

.body-container {
  min-width: 320px;
  width: 100%;
  min-height: 1800px;
  overflow: hidden;
  margin: 0 auto;

  background-color: #ffffff;
  background-image: url(../images/bg-top-460x1600.png), url(../images/bg-bottom-460x1600.png);
  background-position: top -875px center, bottom -1040px center;
  background-repeat: no-repeat;
}

@media (min-width: 460px) {
  .body-container {
    min-width: 460px;
    width: 100%;
    background-image: url(../images/bg-top-768x1600.png), url(../images/bg-bottom-768x1600.png);
    background-position: top -790px center, bottom -970px center;
  }
}

@media (min-width: 768px) {
  .body-container {
    min-width: 768px;
    width: 100%;
    background-image: url(../images/bg-top-1200x1600.png), url(../images/bg-bottom-1200x1600.png);
    background-position: top -570px center, bottom -885px center;
  }
}

@media (min-width: 1200px) {
  .body-container {
    min-width: 1200px;
    width: 100%;
    background-image: url(../images/bg-top-1600x1600.png), url(../images/bg-bottom-1600x1600.png);
    background-position: top -830px center, bottom -760px center;
  }
}

@media (min-width: 1600px) {
  .body-container {
    width: 1600px;
    background-position: top -740px center, bottom -755px center;
  }
}

.content-container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 460px) {
  .content-container {
    width: 460px;
  }
}

@media (min-width: 768px) {
  .content-container {
    width: 675px;
  }
}

@media (min-width: 1200px) {
  .content-container {
    width: 1018px;
  }
}

@media (min-width: 1600px) {
  .content-container {
    width: 1180px;
  }
}

.mobile-container {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 460px) {
  .mobile-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  .mobile-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.title {
  display: inline-block;
  font-weight: 800;
  font-size: 29px;
}

@media (min-width: 460px) {
  .title {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 34px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 38px;
  }
}

@media (min-width: 1600px) {
  .title {
    font-size: 42px;
  }
}

.title::after {
  content: '';
  display: block;
  width: 90px;
  height: 5px;
  background-color: #b62e2c;
}

@media (min-width: 460px) {
  .title::after {
    width: 98px;
  }
}

@media (min-width: 768px) {
  .title::after {
    width: 105px;
    height: 7px;
  }
}

@media (min-width: 1200px) {
  .title::after {
    width: 118px;
  }
}

@media (min-width: 1600px) {
  .title::after {
    width: 130px;
  }
}

.button {
  display: inline-block;
  border: none;
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), #b62e2c;
  transition: background var(--smooth-interface), color var(--smooth-interface);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #f3f3f3;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), #a32a2a;
}

.button:active {
  transform: translate(0, 1px);
}

/* ==================== Header and menu ==================== */

.header#navigation {
  position: fixed;
  z-index: 10;
  min-width: 320px;
  width: inherit;
}

.menu-container {
  background-color: #001427;
  opacity: 0.9;
}

.desktop-menubar {
  display: none;
}

@media (min-width: 768px) {
  .desktop-menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
}

.desktop-menu-link {
  padding: 12px 0;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  transition: color var(--smooth-interface);
}

@media (min-width: 1200px) {
  .desktop-menu-link {
    font-weight: 700;
    font-size: 22px;
  }
}

.desktop-menu-link:hover,
.desktop-menu-link:focus {
  color: #c3c3c3;
}

.desktop-menu-button {
  padding: 12px 17px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
}

@media (min-width: 1200px) {
  .desktop-menu-button {
    padding: 10px 38px;
    font-weight: 700;
    font-size: 21px;
  }
}

.mobile-menubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media (min-width: 768px) {
  .mobile-menubar {
    display: none;
  }
}

.mobile-menu-backdrop {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--smooth-modal), opacity var(--smooth-modal);
}

.mobile-menu-backdrop.is-open {
  visibility: visible;
  opacity: 1;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 25px 25px;

  background-image: url(../images/bg-menu-460x1600.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  transition: transform var(--smooth-modal);
}

@media (min-width: 460px) {
  .mobile-menu {
    padding: 35px 40px;
    background-image: url(../images/bg-menu-768x1600.png);
  }
}

.mobile-menu.is-open {
  transform: translateY(0);
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  height: 300px;
}

.mobile-menu-toggle {
  width: 48px;
  height: 48px;
  border: 1px solid #505050;
  border-radius: 5px;

  background-color: transparent;
  background-image: url(../images/btn-menu-open.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mobile-menu-toggle.is-open {
  background-image: url(../images/btn-menu-close.svg);
}

.mobile-menu-toggle:active {
  transform: scale(0.95);
}

.mobile-menu-button {
  padding: 10px 27px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  background-color: #990000;
  border-radius: 8px;
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
  background-color: #8f0303;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
}

@media (min-width: 460px) {
  .mobile-menu-link {
    font-size: 30px;
  }
}

/* ==================== Features section ==================== */

.section#features {
  padding-top: 90px;
  padding-bottom: 50px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .section#features {
    padding-top: 110px;
    padding-bottom: 64px;
  }
}

@media (min-width: 1200px) {
  .section#features {
    padding-top: 130px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1600px) {
  .section#features {
    padding-bottom: 80px;
  }
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

@media (min-width: 1200px) {
  .features-container {
    flex-direction: row;
  }
}

.features-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .features-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .features-wrapper {
    text-align: left;
  }
}

.features-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 27px;
  text-align: left;
}

@media (min-width: 460px) {
  .features-title {
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  .features-title {
    margin-bottom: 20px;
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .features-title {
    margin-bottom: 22px;
    font-size: 32px;
  }
}

@media (min-width: 1600px) {
  .features-title {
    margin-bottom: 26px;
  }
}

.features-description {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

@media (min-width: 768px) {
  .features-description {
    margin-bottom: 55px;
    font-size: 27px;
  }
}

@media (min-width: 1600px) {
  .features-description {
    margin-bottom: 70px;
  }
}

.features-button {
  width: 280px;
  padding: 8px 14px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  border-radius: 40px;
}

@media (min-width: 460px) {
  .features-button {
    width: auto;
    padding: 9px 38px;
  }
}

@media (min-width: 768px) {
  .features-button {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .features-button {
    padding: 11px 38px;
  }
}

.swiper-features {
  flex-shrink: 0;
  width: 320px;
  height: 220px;
}

@media (min-width: 460px) {
  .swiper-features {
    width: 460px;
    height: 320px;
  }
}

@media (min-width: 768px) {
  .swiper-features {
    margin-bottom: 40px;
    width: 675px;
    height: 415px;
  }
}

/* Розмір плюс */
@media (min-width: 1200px) {
  .swiper-features {
    margin-bottom: 0;
    width: 525px;
    height: 360px;
  }
}

@media (min-width: 1600px) {
  .swiper-features {
    width: 687px;
    height: 473px;
  }
}

.swiper-features-image {
  width: 100%;
  height: 100%;
}

/* ==================== Products section ==================== */

.section#products {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  scroll-margin-top: 75px;
}

@media (min-width: 768px) {
  .section#products {
    padding-top: 64px;
    padding-bottom: 27px;
    scroll-margin-top: 80px;
  }
}

@media (min-width: 1200px) {
  .section#products {
    padding-top: 80px;
    padding-bottom: 30px;
    scroll-margin-top: 70px;
  }
}

@media (min-width: 1600px) {
  .section#products {
    scroll-margin-top: 75px;
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

.products-title {
  margin-bottom: 27px;
}

@media (min-width: 1200px) {
  .products-title {
    margin-bottom: 38px;
  }
}

.products-list {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}

@media (min-width: 768px) {
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px 20px;
    margin-bottom: 36px;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .products-list {
    gap: 36px 20px;
    /* padding: 0; */
  }
}

@media (min-width: 768px) {
  .products-item {
    width: 327px;
    height: 272px;
  }
}

@media (min-width: 1200px) {
  .products-item {
    width: 326px;
    height: 274px;
  }
}

@media (min-width: 1600px) {
  .products-item {
    width: 380px;
    height: 318px;
  }
}

.products-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products-link {
  display: block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform var(--smooth-product-cards), filter var(--smooth-product-cards);
}

.products-link:hover,
.products-link:focus {
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.35));
  transform: scale(1.03);
}

.products-video {
  width: 320px;
  height: 180px;
}

@media (min-width: 460px) {
  .products-video {
    width: 460px;
    height: 258px;
  }
}

@media (min-width: 768px) {
  .products-video {
    width: 675px;
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .products-video {
    width: 1018px;
    height: 573px;
  }
}

@media (min-width: 1600px) {
  .products-video {
    width: 1180px;
    height: 655px;
  }
}

.products-video-source {
  width: 100%;
  height: 100%;
}

/* ==================== Partners section ==================== */

.section#partners {
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
}

@media (min-width: 768px) {
  .section#partners {
    padding-top: 27px;
    padding-bottom: 45px;
  }
}

@media (min-width: 1200px) {
  .section#partners {
    padding-top: 30px;
    padding-bottom: 45px;
  }
}

@media (min-width: 1600px) {
  .section#partners {
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .partners-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 283px;
  }
}

.partners-info {
  min-height: 350px;
  text-align: left;
}

@media (min-width: 460px) {
  .partners-info {
    min-height: 450px;
  }
}

@media (min-width: 768px) {
  .partners-info {
    min-height: 500px;
  }
}

.partners-title {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .partners-title {
    margin-bottom: 32px;
  }
}

.partners-item:not(:last-child) {
  margin-bottom: 40px;
}

.partners-link {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.partners-shopcar-logo {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .partners-shopcar-logo {
    width: 98px;
    height: 98px;
    margin-right: 24px;
  }
}

.partners-shopcar-name {
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {
  .partners-shopcar-name {
    font-size: 29px;
  }
}

.partners-shopcar-description {
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 768px) {
  .partners-shopcar-description {
    font-size: 22px;
  }
}

.partners-map {
  margin-bottom: 130px;
  flex-shrink: 0;
  width: 320px;
  height: 320px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

@media (min-width: 460px) {
  .partners-map {
    margin-bottom: 145px;
    width: 460px;
    height: 460px;
  }
}

@media (min-width: 768px) {
  .partners-map {
    margin: 0 auto;
    margin-bottom: 178px;
    width: 500px;
    height: 500px;
    border: 1px solid #d3d3d3;
  }
}

@media (min-width: 1200px) {
  .partners-map {
    margin: 0;
  }
}

@media (min-width: 1600px) {
  .partners-map {
    width: 580px;
    height: 580px;
    margin-bottom: 0;
  }
}

.partners-button {
  width: 280px;
  padding: 8px 14px;
  font-weight: 700;
  font-size: 25px;
  border-radius: 40px;
}

@media (min-width: 460px) {
  .partners-button {
    width: auto;
    padding: 9px 38px;
  }
}

@media (min-width: 768px) {
  .partners-button {
    padding: 12px 60px;
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .partners-button {
    padding: 16px 90px;
  }
}

/* ==================== Footer and contacts ==================== */

.footer#contacts {
  padding-top: 22px;
  padding-bottom: 12px;
  text-align: center;
  color: #ffffff;
  scroll-margin-top: 90px;
}

@media (min-width: 768px) {
  .footer#contacts {
    padding-top: 45px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .footer#contacts {
    padding-top: 45px;
    padding-bottom: 30px;
    scroll-margin-top: 110px;
  }
}

@media (min-width: 1600px) {
  .footer#contacts {
    padding-top: 50px;
  }
}

.contacts-wrapper {
  margin-bottom: 28px;
  text-align: left;
}
@media (min-width: 768px) {
  .contacts-wrapper {
    display: flex;
    align-items: end;
  }
}

@media (min-width: 1200px) {
  .contacts-wrapper {
    margin-bottom: 50px;
  }
}

.contacts-info {
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .contacts-info {
    width: 430px;
    margin-bottom: 0;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .contacts-info {
    width: 430px;
    margin-bottom: 0;
    margin-right: 155px;
  }
}

.contacts-title {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .contacts-title {
    margin-bottom: 32px;
  }
}

.contacts-company {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 25px;
}

@media (min-width: 460px) {
  .contacts-company {
    font-size: 29px;
  }
}

.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

@media (min-width: 460px) {
  .contacts-address {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .contacts-address {
    font-size: 22px;
  }
}

.contacts-phone,
.contacts-mail {
  margin-bottom: 12px;
  display: block;
  color: #ffffff;
}

.contacts-accent {
  font-weight: 700;
}

.contacts-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .contacts-socials {
    flex-direction: column;
  }
}

.contacts-socials-item:not(:last-child) {
  margin-right: 25px;
  transition: scale var(--smooth-interface);
}

@media (min-width: 768px) {
  .contacts-socials-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 19px;
  }
}

.contacts-socials-item:hover,
.contacts-socials-item:focus {
  scale: 1.1;
}

.contacts-socials-item:active {
  transform: translate(0, 1px);
}

.contacts-copyright {
  font-weight: 300;
  font-size: 13px;
}

@media (min-width: 768px) {
  .contacts-copyright {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .contacts-copyright {
    font-size: 18px;
  }
}

/* ==================== Modal window ==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100vw;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
  scale: 1.1;
  background-color: rgba(0, 0, 0, 0.7);
  transition: visibility var(--smooth-modal), opacity var(--smooth-modal), scale var(--smooth-modal);
}

.is-visible {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.disable-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ==================== Swiper and slides ==================== */

.swiper-products {
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
  user-select: none;
}

@media (min-width: 1200px) {
  .swiper-products {
    width: 750px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 10px;
  }
}

@media (min-width: 1600px) {
  .swiper-products {
    width: 950px;
  }
}

.swiper-button-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.swiper-button-close {
  position: fixed;
  transform: translateX(-100%);
  z-index: 50;
  width: 50px;
  height: 50px;
  padding: 30px;
  
  background-color: transparent;
  background-image: url(../images/btn-slider-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 460px) {
  .swiper-button-close {
    padding: 40px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: auto;
  bottom: auto;
}

.swiper-pagination-wrapper {
  position: absolute;
  top: 25px;
  bottom: auto;
  width: 100%;
}

@media (min-width: 460px) {
  .swiper-pagination-wrapper {
    top: 35px;
  }
}

@media (min-width: 1200px) {
  .swiper-pagination-wrapper {
    top: 25px;
  }
}

.swiper-pagination {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #b62e2c;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 270px;
  width: 45px;
  height: 80px;
  margin: 0;
  padding: 0px;

  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

@media (min-width: 460px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 370px;
    width: 60px;
  }
}

@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 350px;
  }
}

@media (min-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 220px;
    width: 65px;
  }
}

@media (min-width: 1600px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 300px;
  }
}

.swiper-button-prev {
  left: 0px;
  background-image: url('../images/btn-slider-prev.svg');
}

.swiper-button-next {
  right: 0px;
  background-image: url('../images/btn-slider-next.svg');
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.slide-image-wrapper {
  padding-top: 70px;
  padding-bottom: 40px;
}

@media (min-width: 460px) {
  .slide-image-wrapper {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  .slide-image-wrapper {
    padding-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .slide-image-wrapper {
    padding-top: 60px;
    padding-bottom: 10px;
  }
}

.slide-image {
  width: 320px;
  height: 179px;
  margin: 0 auto;
  object-fit: contain;
}

@media (min-width: 460px) {
  .slide-image {
    width: 460px;
    height: 257px;
  }
}

@media (min-width: 1200px) {
  .slide-image {
    width: 390px;
    height: 218px;
  }
}

@media (min-width: 1600px) {
  .slide-image {
    width: 600px;
    height: 335px;
  }
}

.slide-title-wrapper {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 6px solid #b62e2c;
}

@media (min-width: 1200px) {
  .slide-title-wrapper {
    width: fit-content;
    padding-bottom: 0;
  }
}

.slide-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 0 40px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
}

@media (min-width: 460px) {
  .slide-title {
    min-height: 60px;
    padding: 0 60px;
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  .slide-title {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .slide-title {
    padding-left: 40px;
    padding-right: 0;
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .slide-title {
    font-size: 32px;
  }
}

.slide-description-wrapper {
  padding: 25px 20px;
}

@media (min-width: 460px) {
  .slide-description-wrapper {
    padding: 25px 30px;
  }
}

@media (min-width: 768px) {
  .slide-description-wrapper {
    display: flex;
  }
}

.slide-description {
  margin-bottom: 20px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
}

@media (min-width: 460px) {
  .slide-description {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .slide-description {
    width: 50%;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .slide-description {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .slide-description {
    font-size: 20px;
  }
}

.slide-description .marged {
  margin-bottom: 7px;
}

.slide-pack-item {
  list-style: circle;
  margin-left: 25px;
}
