:root {
  --smooth-interface: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  --smooth-product-cards: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --smooth-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 27px;
  background-color: #e3e3e3;
  color: #000000;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  display: block;
}

/* ==================== General classes ==================== */

.body-container {
  min-width: 320px;
  width: 100vw;
  min-height: 1800px;
  overflow: hidden;
  margin: 0 auto;

  background-color: #ffffff;
  background-image: url(../images/bg-top-460x1600.png), url(../images/bg-bottom-460x1600.png);
  background-position: top -885px center, bottom -1055px center;
  background-repeat: no-repeat;
}

@media (min-width: 460px) {
  .body-container {
    min-width: 460px;
    width: 100vw;
    background-image: url(../images/bg-top-768x1600.png), url(../images/bg-bottom-768x1600.png);
    background-position: top -780px center, bottom -970px center;
  }
}

@media (min-width: 768px) {
  .body-container {
    min-width: 768px;
    width: 100vw;
    background-image: url(../images/bg-top-1200x1600.png), url(../images/bg-bottom-1200x1600.png);
    background-position: top -780px center, bottom -970px center;
  }
}

@media (min-width: 1200px) {
  .body-container {
    min-width: 1200px;
    width: 100vw;
    background-image: url(../images/bg-top-1600x1600.png), url(../images/bg-bottom-1600x1600.png);
    background-position: top -700px center, bottom -675px center;
  }
}

@media ( min-width: 1600px) {
  .body-container {
    width: 1600px;
  }
}

.content-container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 460px) {
  .content-container {
    width: 460px;
  }
}

@media ( min-width: 1200px) {
  .content-container {
    width: 1180px;
  }
}
/* width: 1210px; */
/* padding: 0 15px; */

.slim {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 460px) {
  .slim {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  .slim {
    padding-left: 0px;
    padding-right: 0px;
  }
}


.title {
  display: inline-block;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 460px) {
  .title {
    font-size: 32px;
    line-height: 39px;
  }
}

@media ( min-width: 1200px) {
  .title {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
  }
}

.title::after {
  content: '';
  display: block;
  width: 90px;
  height: 5px;
  background-color: #b62e2c;
}

@media (min-width: 460px) {
  .title::after {
    width: 97px;
  }
}

@media ( min-width: 1200px) {
  .title::after {
    width: 110px;
    height: 7px;
  }
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), #b62e2c;
  transition: background var(--smooth-interface), color var(--smooth-interface);
}

.button:hover,
.button:focus {
  color: #f3f3f3;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), #a32a2a;
}

.button:active {
  transform: translate(0, 1px);
}

/* ==================== Header and menu ==================== */

.header#navigation {
  position: fixed;
  z-index: 10;
  min-width: 320px;
  width: inherit;
  background-color: #001427;
  opacity: 0.9;
}

.menu-desktop {
  display: none;
}

@media ( min-width: 1200px) {
  .menu-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
}

.menu-desktop-list {
  display: flex;
}

.menu-desktop-item:not(:last-child) {
  margin-right: 150px;
}

.menu-desktop-link {
  padding: 12px 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  transition: color var(--smooth-interface);
}

.menu-desktop-link:hover,
.menu-desktop-link:focus {
  color: #c3c3c3;
}

.menu-desktop-button {
  padding: 10px 38px;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  border-radius: 8px;
}

.menu-mobile {
  padding: 20px 0;
}

@media ( min-width: 1200px) {
  .menu-mobile {
    display: none;
  }
}

/* ==================== Features section ==================== */

.section#features {
  padding-top: 80px;
  padding-bottom: 54px;
  color: #ffffff;
}

@media ( min-width: 1200px) {
  .section#features {
    padding-top: 148px;
    padding-bottom: 108px;
  }
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

@media ( min-width: 1200px) {
  .features-container {
    flex-direction: row;
  }
}

.features-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

@media ( min-width: 1200px) {
  .features-wrapper {
    padding-top: 65px;
    padding-bottom: 52px;
  text-align: left;
  }
}

.features-title {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 27px;
  line-height: 30px;
  text-align: left;
}

@media ( min-width: 1200px) {
  .features-title {
    margin-bottom: 45px;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
  }
}

.features-description {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

@media ( min-width: 1200px) {
  .features-description {
    margin-bottom: 105px;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
  }
}

.features-button {
  width: 280px;
  padding: 6px 26px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  border-radius: 40px;
}

@media (min-width: 460px) {
  .features-button {
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 460px) {
  .features-button {
    width: auto;
    padding: 10px 38px;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
  }
}

@media ( min-width: 1200px) {
  .features-button {
    padding: 12px 38px;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
  }
}

.swiper-features {
  flex-shrink: 0;
  width: 320px;
  height: 220px;
}

@media (min-width: 460px) {
  .swiper-features {
    width: 460px;
    height: 320px;
  }
}

@media ( min-width: 1200px) {
  .swiper-features {
    width: 687px;
    height: 473px;
  }
}

/* ==================== Products section ==================== */

.section#products {
  padding-top: 54px;
  padding-bottom: 14px;
  text-align: center;
}

@media ( min-width: 1200px) {
  .section#products {
    scroll-margin-top: 65px;
    padding-top: 108px;
    padding-bottom: 30px;
  }
}

.products-title {
  margin-bottom: 27px;
}

@media ( min-width: 1200px) {
  .products-title {
    margin-bottom: 38px;
  }
}

.products-list {
  padding-bottom: 28px;
}

@media ( min-width: 1200px) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    margin: -18px -10px;

    padding: 0;
    margin-bottom: 40px;
  }
}

.products-item:not(:last-child) {
  margin-bottom: 25px;
}

@media ( min-width: 1200px) {
  .products-item {
    width: auto;
    height: auto;
    margin: 18px 10px;
    width: 380px;
    height: 318px;
  }
}

.products-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products-link {
  display: block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform var(--smooth-product-cards), filter var(--smooth-product-cards);
}

.products-link:hover,
.products-link:focus {
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.35));
  transform: scale(1.03);
}

.products-video {
  width: 320px;
  height: 180px;
}

@media (min-width: 460px) {
  .products-video {
    width: 460px;
    height: 258px;
  }
}

.products-video-source {
  width: 100%;
  height: 100%;
}

@media ( min-width: 1200px) {
  .products-video {
    width: 1180px;
    height: 655px;
    border: 1px solid #d3d3d3;
  }
}

/* ==================== Partners section ==================== */

.section#partners {
  padding-top: 14px;
  padding-bottom: 22px;
  text-align: center;
}

@media ( min-width: 1200px) {
  .section#partners {
    padding-top: 30px;
    padding-bottom: 58px;
  }
}

@media ( min-width: 1200px) {
  .partners-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 283px;
  }
}

.partners-info {
  min-height: 250px;
  margin-bottom: 30px;
  text-align: left;
}

@media (min-width: 460px) {
  .partners-info {
    min-height: 350px;
  }
}

.partners-title {
  margin-bottom: 13px;
}

@media ( min-width: 1200px) {
  .partners-title {
    margin-bottom: 32px;
  }
}

.partners-item:not(:last-child) {
  margin-bottom: 40px;
}

.partners-link {
  display: flex;
  align-items: center;
  justify-content: left;
}

.partners-shopcar-logo {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.partners-shopcar-name {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
}

@media ( min-width: 1200px) {
  .partners-shopcar-name {
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
  }
}

.partners-shopcar-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media ( min-width: 1200px) {
  .partners-shopcar-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
  }
}

.partners-map {
  margin-bottom: 120px;
  flex-shrink: 0;
  width: 320px;
  height: 320px;
}

@media (min-width: 460px) {
  .partners-map {
    margin-bottom: 145px;
    width: 460px;
    height: 460px;
  }
}

@media ( min-width: 1200px) {
  .partners-map {
    width: 580px;
    height: 580px;
    margin-bottom: 0;
    border: 1px solid #d3d3d3;
  }
}

.partners-button {
  width: 280px;
  padding: 6px 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  border-radius: 40px;
}

@media (min-width: 460px) {
  .partners-button {
    width: auto;
    padding: 10px 38px;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
  }
}

@media ( min-width: 1200px) {
  .partners-button {
    width: auto;
    padding: 20px 117px;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
  border-radius: 40px;
  }
}

/* ==================== Footer and contacts ==================== */

.footer#contacts {
  padding-top: 22px;
  padding-bottom: 12px;
  text-align: center;
  color: #ffffff;
}

@media ( min-width: 1200px) {
  .footer#contacts {
    scroll-margin-top: 130px;
    padding-top: 58px;
    padding-bottom: 30px;
  }
}

.contacts-wrapper {
  margin-bottom: 25px;
  text-align: left;
}

@media ( min-width: 1200px) {
  .contacts-wrapper {
    display: flex;
    align-items: end;
    margin-bottom: 50px;
    padding: 0;
  }
}

.contacts-info {
  margin-bottom: 25px;
}

@media ( min-width: 1200px) {
  .contacts-info {
    width: 430px;
    margin-bottom: 0;
    margin-right: 155px;
  }
}

.contacts-title {
  margin-bottom: 16px;
}

@media ( min-width: 1200px) {
  .contacts-title {
    margin-bottom: 32px;
  }
}

.contacts-company {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
}

@media (min-width: 460px) {
  .contacts-company {
    font-size: 29px;
    line-height: 35px;
  }
}

@media ( min-width: 1200px) {
  .contacts-company {
    margin-bottom: 19px;
    font-weight: 800;
    font-size: 29px;
    line-height: 35px;
  }
}

.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

@media (min-width: 460px) {
  .contacts-address {
    font-size: 18px;
    line-height: 22px;
  }
}

@media ( min-width: 1200px) {
  .contacts-address {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
  }
}

.contacts-phone,
.contacts-mail {
  margin-bottom: 16px;
  display: block;
  color: #ffffff;
}

@media ( min-width: 1200px) {
  .contacts-phone,
  .contacts-mail {
    margin-bottom: 28px;
  }
}

.contacts-accent {
  font-weight: 800;
}

.contacts-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media ( min-width: 1200px) {
  .contacts-socials {
    flex-direction: column;
  }
}

.contacts-socials-item:not(:last-child) {
  margin-right: 25px;
  transition: scale var(--smooth-interface);
}

@media ( min-width: 1200px) {
  .contacts-socials-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 19px;
  }
}

.contacts-socials-item:hover,
.contacts-socials-item:focus {
  scale: 1.1;
}

.contacts-socials-item:active {
  transform: translate(0, 1px);
}

.contacts-copyright {
  padding: 0 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

@media ( min-width: 1200px) {
  .contacts-copyright {
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
  } 
}

/* ==================== Sliders ==================== */

.swiper-products {
  width: 950px;
  background-color: #ffffff;
  border-radius: 10px;
  user-select: none;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #b62e2c;
}

.swiper-products .swiper-button-prev,
.swiper-products .swiper-button-next {
  top: 300px;
  width: 30px;
  height: 80px;
  margin: 0 20px;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
}

.swiper-products .swiper-button-prev {
  background-image: url('../images/slider-prev.png');
}

.swiper-products .swiper-button-next {
  background-image: url('../images/slider-next.png');
}

.swiper-products .swiper-button-prev:after,
.swiper-products .swiper-button-next:after {
  display: none;
}

.slide-image {
  width: 760px;
  height: 425px;
  margin: 50px 100px;
  object-fit: contain;
}

.slide-title-wrapper {
  width: fit-content;
  border-bottom: 6px solid #b62e2c;
}

.slide-title {
  margin-bottom: 7px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

.slide-description {
  display: flex;
  padding: 20px 40px 35px 40px;
}

.slide-description-list {
  width: 50%;
}

.slide-description-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* ==================== Modal window ==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  visibility: hidden;
  opacity: 0;
  scale: 1.1;
  background-color: rgba(0, 0, 0, 0.7);
  transition: visibility var(--smooth-modal), opacity var(--smooth-modal), scale var(--smooth-modal);
}

.is-visible {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.disable-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
