:root {
  --trans-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 27px;
  background-color: #e3e3e3;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  display: block;
}

/* ==================== Common classes ==================== */

.body-wrapper {
  min-width: 320px;
  width: 100vw;
  min-height: 1800px;
  margin: 0 auto;

  background-color: #ffffff;
  background-image: url(../images/bg-top.png), url(../images/bg-bottom.png);
  background-position: top center, bottom center;
  background-repeat: no-repeat;

  overflow: hidden;
}

@media (min-width: 460px) {
  .body-wrapper {
    min-width: 460px;
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .body-wrapper {
    min-width: 768px;
    width: 100vw;
  }
}

@media (min-width: 1200px) {
  .body-wrapper {
    min-width: 1200px;
    width: 100vw;
  }
}

@media (min-width: 1600px) {
  .body-wrapper {
    width: 1600px;
  }
}

.container {
  width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  display: inline-block;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
}

.title::after {
  content: '';
  display: block;
  width: 110px;
  height: 7px;
  background-color: #b62e2c;
}

.button {
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), #b62e2c;
  color: #ffffff;
  border: none;
}

.button:hover,
.button:focus {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), #a32a2a;
  color: #f3f3f3;
}

.button:active {
  transform: translate(0, 1px);
}

/* ==================== Header and menu ==================== */

.header#navigation {
  position: fixed;
  width: inherit;
  background-color: #001427;
  color: #ffffff;
  opacity: 0.9;
  z-index: 10;
}

.menu-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 150px;
}

.menu-link {
  padding: 12px 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.menu-link:hover {
  color: #c3c3c3;
}

.menu-button {
  padding: 10px 38px;
  border-radius: 8px;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
}

/* ==================== Features section ==================== */

.section#features {
  padding-top: 148px;
  padding-bottom: 108px;
  color: #ffffff;
}

.features-wrapper {
  display: flex;
}

.features-leftbar {
  padding-top: 65px;
}

.features-title {
  margin-bottom: 45px;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}

.features-description {
  margin-bottom: 105px;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
}

.features-image {
  width: 687px;
  height: 473px;
}

.features-button {
  padding: 12px 38px;
  border-radius: 40px;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
}

/* ==================== Products section ==================== */

.section#products {
  padding-top: 108px;
  padding-bottom: 30px;
  color: #000000;
  text-align: center;
  scroll-margin-top: 65px;
}

.products-title {
  margin-bottom: 38px;
}

.products-wrapper {
  margin-bottom: 40px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: -18px -10px;
}

.products-item {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 18px 10px;
}

.products-video {
  /* розмір авто */
  width: 100%;
  height: 655px;
  border: 1px solid #d3d3d3;
}

/* ==================== Partners section ==================== */

.section#partners {
  padding-top: 30px;
  padding-bottom: 58px;
  color: #000000;
  text-align: center;
}

.partners-wrapper {
  margin-bottom: 283px;
  display: flex;
  justify-content: space-between;
}

.partners-leftbar {
  text-align: left;
}
.partners-title {
  margin-bottom: 32px;
}

.partners-shopcar-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.partners-shopcar-logo {
  margin-right: 12px;
}

.partners-shopcar-name {
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
}

.partners-shopcar-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.partners-map {
  width: 580px;
  height: 580px;
  border: 1px solid #d3d3d3;
}

.partners-button {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  padding: 20px 117px;
  border-radius: 40px;
}

/* ==================== Footer and contacts ==================== */

.footer#contacts {
  padding-top: 58px;
  padding-bottom: 30px;
  color: #ffffff;
  text-align: center;
  scroll-margin-top: 130px;
}

.contacts-wrapper {
  display: flex;
  align-items: end;
  margin-bottom: 50px;
  text-align: left;
}

.contacts-leftbar {
  margin-right: 155px;
}

.contacts-title {
  margin-bottom: 32px;
}

.contacts-company {
  margin-bottom: 19px;
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
}

.contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.contacts-phone,
.contacts-mail {
  display: block;
  margin-bottom: 28px;
  color: #ffffff;
}

.contacts-accent {
  font-weight: 800;
}

.contacts-social-item:not(:last-child) {
  margin-bottom: 19px;
}

.contacts-copyright {
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
}

/* ==================== Modal window ==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  scale: 1.1;
  transition: visibility var(--trans-modal), opacity var(--trans-modal), scale var(--trans-modal);
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.is-visible {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.disable-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper {
  width: 1010px;
  background-color: #ffffff;
  border-radius: 15px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #b62e2c;
  width: 12px;
  height: 12px;
}

.slide-image {
  margin-bottom: 15px;
  width: 1010px;
  height: 530px;
  object-fit: contain;
  padding: 20px 80px;
}

.slide-title {
  padding-left: 40px;
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.slide-title-wrapper {
  width: fit-content;
  border-bottom: 6px solid #b42d2a;
}

.slide-description {
  padding: 21px 40px 23px 40px;
  display: flex;
}

.slide-list {
  width: 50%;
}

.slide-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
}

.swiper .swiper-button-prev {
  margin-left: 20px;
  background-image: url('./images/slider-prev.png');
}
.swiper .swiper-button-next {
  margin-right: 20px;
  background-image: url('./images/slider-next.png');
}

.swiper .swiper-button-prev:after,
.swiper .swiper-button-next:after {
  display: none;
}
